{% extends 'Layout/layout.html' %}

{% block head %}

<title>Buzzsaws Askmate</title>

{% endblock head %}


{% block body %}

    <h4>Welcome {{ username }}</h4>

 <section class="search">
        <h3>Search for questions</h3>
    <form action="/search">
        <input name="q" type="text"><br>
        <button id="but" type="submit">Search</button>
    </form>
 </section>


<form  action="/list" >
    <label for="sorter">Choose how to sort</label>
    <select name="headers" id="sorter">
        <option value="submission_time">Submission time</option>
        <option value="title">Title</option>
        <option value="message">Message</option>
        <option value="view_number">View number</option>
        <option value="vote_number">Vote number</option>
        </select>
    <select name="order">
        <option value="ASC">ASC</option>
        <option value="DESC">DESC</option>
        <input id="but" type="submit">
    </select>
</form>


     <button id="but" type=""><a href = "/list">Show all results</a></button>
    <button id="but"><a href="/registration">Register</a></button>
{%  if username == 'stranger' %}
    <button id="but" onclick="location.href='/login'" type="button">
    Login</button><br>

    {% else %}
    <button id="but" onclick="location.href='{{url_for('show_user', user_id=user_id)}}'" type="button">Profile</button>
    <button id="but" onclick="location.href='/logout'" type="button">
    Logout</button><br>
{% endif %}

<table>
    <tr>
        {% for key in data[0].keys() %}
        <th>
            {{ key.capitalize() }}
        </th>
        {% endfor %}
    </tr>
    <tr>
        {% for dicts in data%}
    </tr>
    {% for key, value in dicts.items() %}
    {% if key == 'title' %}
    <td><a id="{{ dicts['id'] }}" href="/questions/{{ dicts['id'] }}">{{ value }}</a></td>
    {% elif key == 'submission_time' %}
       <td> {{ value }} </td>
    {% elif key == 'image' %}

    <td><a id="{{ dicts['id'] }}" href="/static/images/{{ dicts['image'] }}"><img
            src="/static/images/{{ dicts['image'] }}" height="30"></a></td>

    {% else %}
    <td>{{ value }}</td>
    {% endif %}


    {% endfor %}
    {% endfor %}

</table>

{% if username != 'stranger' %}
    <button class="button button2" onclick="location.href='/add-question'" type="button">
    Add a new question
    </button><br>
    <button  class="button button1" onclick="location.href='/tags'" type="button">
         List of tags</button><br>
    <button id="but" onclick="location.href='/users'" type="button">
    Users list
    </button><br>
    {% endif %}


{% endblock body %}