{% extends 'layout.html' %}
{% block head %}


<form name="option" action="{{url_for('vote_up_question', question_id=id)}}">
    <input class="button button2"  name="vote-up" type="submit" value="UPVOTE">
     </form>
           <h1>Title: {{ question[0]['title'] }}</h1>

<form name="option" action="{{url_for('vote_down_question', question_id=id)}}" >
<input class="button button2" name="vote-down" type="submit" value="DOWNVOTE">
         </form>

    <h1>Message: {{ question[0]['message'] }}</h1>
{% endblock head %}
    {% block body %}
        <table>
        <tr>
        {% if comments|length < 1 %}
            <h2>There are no comments yet</h2>
        {% else %}
        {% for key in comments[0].keys() %}
     <th>{{ key.capitalize().replace('_', ' ') }}</th>
     {% endfor  %}
         </tr>
        <tr>
        {% for dicts in comments %}
    </tr>
     {% for key, value in dicts.items() %}
        <td>{{  value }} </td>

        {% endfor %}
        {% endfor %}
        {% endif  %}
        </table>

        <table>
        <tr>
            <td><button  class="button button2" onclick="location.href='{{url_for('edit_question', question_id=id)}}'" type="button">
         Edit question</button><br></td>
            <td><form  name="delete_question" method="post">
    <button  class="button button2" onclick="location.href='{{ url_for('delete_question', question_id=id) }}'" type="button">
        Delete Question</button></form></td><br>
            <td> <button  class="button button2" onclick="location.href='{{url_for('add_comment_to_question', question_id=id)}}'" type="button">
         Add a new comment</button><br></td>

        </tr>
        </table><br>
        <table width="100%">
    <tr>
    {% if answer|length < 1 %}
        <h3>There are no answers yet.</h3>
    {% else %}
    {% for key in answer[0].keys() %}
     <th>
         {{ key.capitalize() }}</th>
     {% endfor  %}
     </tr>
            {% for dicts in answer %}
    </tr>
     {% for key, value in dicts.items() %}
            {% if key == 'message' %}
            <td><a  href="{{url_for('display_answer', answer_id=dicts['id'])}}">{{ value }}</a></td>
            {% elif key == 'image' %}
            {% if value != '0' %}
            <td><a id="{{ dicts['id'] }}" href="/static/images/{{ dicts['image'] }}"><img src="/static/images/{{ dicts['image'] }}" height="30"></a></td>
         {% endif %}
        {% else %}
        <td>{{  value }} </td>

            {% endif %}
            {% endfor  %}
        {% endfor  %}
        {% endif %}
       </table>
            <button  class="button button2" onclick="location.href='{{url_for('add_new_answer', id=id)}}'" type="button">
         Add a new answer</button><br>





        <button  class="button button1" onclick="location.href='/list'" type="button">
         Back to the list</button><br>
    {% endblock body %}