{% extends 'layout.html' %}
{% block head %}


<form name="option" action="{{url_for('vote_question', question_id=id)}}" method="post">
    <input class="button button2"  name="option" type="submit" value="UPVOTE">
     </form>
           <h1>Title: {{ question[0] }}</h1>

<form name="option" action="{{url_for('vote_question', question_id=id)}}" method="post">
<input class="button button2" name="option" type="submit" value="DOWNVOTE">
         </form>

    <h1>Message: {{ question[1] }}</h1>
{% endblock head %}
    {% block body %}
        <button  class="button button1" onclick="location.href='/list'" type="button">
         Back to the list</button><br>
        <table width="100%">
    <tr>
    {% if answer|length < 1 %}
        <h3>There are no answers yet.</h3>
    {% else %}
    {% for key in answer[0].keys() %}
     <th>
         {{ key.capitalize() }}</th>
     {% endfor  %}
     </tr>
            {% for dicts in answer %}
    </tr>
     {% for key, value in dicts.items() %}
            {% if key == 'message' %}
            <td><a  href="{{url_for('display_answer', answer_id=dicts['id'])}}">{{ value.capitalize() }}</a></td>
            {% elif key == 'image' %}
            {% if value != '0' %}
            <td><a id="{{ dicts['id'] }}" href="/static/images/{{ dicts['image'] }}"><img src="/static/images/{{ dicts['image'] }}" height="30"></a></td>
         {% endif %}
        {% else %}
        <td>{{  value }} </td>

            {% endif %}
            {% endfor  %}
        {% endfor  %}
        {% endif %}
       </table>
        <button  class="button button2" onclick="location.href='{{url_for('edit_question', question_id=id)}}'" type="button">
         Edit question</button><br>
        <button  class="button button2" onclick="location.href='{{url_for('get_new_answers', id=id)}}'" type="button">
         Add a new answer</button><br>

<form  name="delete_question" method="post">
    <button  class="button button2" onclick="location.href='{{ url_for('delete_question', question_id=id) }}'" type="button">
         Delete Question</button><br>

</form>




    {% endblock body %}