{% extends 'layout.html' %}


{% block head %}
    {% endblock head %}

 {% block body %}


<form name="option" action="{{url_for('vote_answer', answer_id=answer_id)}}" method="post">
    <input class="button button2" name="option" type="submit" value="UPVOTE">
     </form>
           <h2>{{ answer[0]['message'] }}</h2>
<form name="option" action="{{url_for('vote_answer', answer_id=answer_id)}}" method="post">
<input class="button button2" name="option" type="submit" value="DOWNVOTE">
         </form>
<form name="delete_answer" method="post">
<button  class="button button1" onclick="location.href='{{ url_for('delete_answer', answer_id=answer_id) }}'" type="button">
         Delete Answer</button><br>
</form>

<button  class="button button1" onclick="location.href='/list'" type="button">
         Back to the list</button><br>
{% endblock body %}