{% extends 'layout.html' %}


{% block head %}
    {% endblock head %}

 {% block body %}


<form name="option" action="{{url_for('vote_up_answer', answer_id=answer_id)}}">
    <input class="button button2" name="vote_up" type="submit" value="UPVOTE">
     </form>
           <h2>{{ answer[0]['message'] }}</h2>
       <table>
        <tr>
        {% if comments|length < 1 %}
            <h2>There are no comments yet</h2>
        {% else %}
        {% for key in comments[0].keys() %}
            {% if key != 'id' %}

     <th>{{ key.capitalize().replace('_', ' ') }}</th>
            {% endif %}
     {% endfor  %}
            <th>Edit comment</th>
         </tr>
        <tr>
        {% for dicts in comments %}
    </tr>
     {% for key, value in dicts.items() %}
         {% if key != 'id' %}
        <td>{{  value }} </td>
    {% endif %}
     {% endfor %}
            <td> <a href = "{{ url_for('edit_comment', comment_id=dicts['id']) }}"> Edit comment </a> </td >

        {% endfor %}
        {% endif  %}
        </table>

<button  class="button button2" onclick="location.href='{{url_for('edit_answer', answer_id=answer_id)}}'" type="button">
         Edit answer</button>

<form name="option" action="{{url_for('vote_down_answer', answer_id=answer_id)}}" >
<input class="button button2" name="vote_down" type="submit" value="DOWNVOTE">
         </form>

        <form name="comment" action="{{url_for('add_comment_to_answer', answer_id=answer_id)}}" >
<input class="button button2" name="comment" type="submit" value="Add new comment">
         </form>

<form name="delete_answer" method="post">
<button  class="button button2" onclick="location.href='{{ url_for('delete_answer', answer_id=answer_id) }}'" type="button">
         Delete Answer</button><br>
</form>

<button  class="button button1" onclick="location.href='/list'" type="button">
         Back to the list</button><br>
{% endblock body %}