{% extends 'layout.html' %}

  {% block head %}
      <title>Edit Question</title>

    {% endblock head %}

{% block body %}
    <h1>Edit {{ question[0]['title'] }} question</h1>

<form action="{{url_for('edit_question', question_id=question_id)}}" method="post" >
  <!--<label for="question">Question:</label> -->
    <textarea name="title" rows="4" cols="30">{{ question[0]['title'] }}</textarea> <br>
    <textarea  name="message" rows="30" cols="30" >{{ question[0]['message']  }}</textarea> <br>
    <button type="submit" class="button button1">Submit</button>
</form>

{% endblock body %}