<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    table, th, td {
    border: 1px solid black;
    text-align: center;
    }
    th { style="width: 50%"
    }
    </style>
    <meta charset="UTF-8">
    {% block head %}
    {% endblock head %}
</head>
<body>
    {% block body %}
    {% endblock body %}


</body>
<footer>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Page by: Team Buzzsaws  © Buzzsaws Inc. 2022</p>
    <p><a href="mailto:buzzsaws@codecool.com">buzzsaws@codecool.com</a></p>
</footer>
<img src="https://wiki.starbasegame.com/images/1/1d/Starbase_saw_tool.png" alt="buzzsaw machine" width="230" height="130">

</html>