{% extends 'layout.html' %}

{% block head %}

    <h3>Add new tag</h3>


{% endblock head %}


{% block body %}

    <form action={{url_for('new_tag', question_id = question_id)}} method="post">
    <label>Add a new tag</label>
    <input type="text" name="tag" list="tags">
        <datalist id="tags">
            {% for dicts in tags %}
                {% for key, value in dicts.items() %}
                    {% if key == 'name' %}
                <option value="{{ value }}">
                    {% endif %}
                    {% endfor %}
            {% endfor %}
        </datalist>
    <button type="submit">Submit </button>
    </form>

    <button  class="button button1" onclick="location.href='{{ url_for('list_answers', id= question_id) }}'" type="button">
         Back to the question</button><br>
{% endblock body %}