{% extends 'layout.html' %}
 {% block head %}
{% endblock head %}

{% block body %}
<form method="post">
            <label for="email">E-mail:</label> <br>
            <input type="email" name=email> <br>
             <label for="pass">Password:</label> <br>
            <input type="password" id="pass" name="password"><br>
            <p><input type=submit value=Sign in> <br>
        </form>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
{% endblock body %}