{% extends 'layout.html' %}

{% block head %}
<title>Profile Page of</title>
{% endblock head %}


{% block body %}
    <h3>User details of {{ username }}</h3>
    <table>
{% for key in data[0].keys() %}
    {% if key == 'password_hash' %}
        {{ continue }}
         {% else %}
 <th>
 {{ key.capitalize().replace('_', ' ') }}
</th>
{% endif %}
        {% endfor %}
    {% for dicts in data %}
    <tr>
        {% for key, value in dicts.items() %}
        {% if key == 'password_hash' %}
        {{ continue }}
        {% else %}
        <td>{{ value }}</td>
        {% endif %}
{% endfor %}
    </tr>

    {% endfor %}
    </table>
    <br>


        <table>
{% for key in questions[0].keys() %}
    {% if key == 'user_id' %}
        {{ continue }}
         {% else %}
 <th>
 {{ key.capitalize().replace('_', ' ') }}
</th>
{% endif %}
        {% endfor %}
    {% for dicts in questions %}
    <tr>
        {% for key, value in dicts.items() %}
        {% if key == 'user_id' %}
        {{ continue }}
            {% elif key == 'title' %}
            <td> <a id="{{ dicts['id'] }}" href="/questions/{{dicts['id']}}">{{value  }} </a></td>
        {% else %}
        <td>{{ value }}</td>
        {% endif %}
{% endfor %}
    </tr>

    {% endfor %}
    </table>

    <br>

           <table>
{% for key in answers[0].keys() %}
    {% if key == 'user_id' and key == 'state' %}
        {{ continue }}
         {% else %}
 <th>
 {{ key.capitalize().replace('_', ' ') }}
</th>
{% endif %}
        {% endfor %}
    {% for dicts in answers %}
    <tr>
        {% for key, value in dicts.items() %}
        {% if key == 'user_id' and key == 'state' %}
        {{ continue }}
            {% elif key == 'message' %}
            <td> <a id="{{ dicts['question_id'] }}" href="/questions/{{dicts['question_id']}}">{{value  }} </a></td>
        {% else %}
        <td>{{ value }}</td>
        {% endif %}
{% endfor %}
    </tr>

    {% endfor %}
    </table>
<br>

              <table>
{% for key in comments[0].keys() %}
    {% if key == 'user_id' or key == 'question_id' or key == 'answer_id' %}
        {{ continue }}
         {% else %}
 <th>
 {{ key.capitalize().replace('_', ' ') }}
</th>
{% endif %}
        {% endfor %}
    {% for comment in comments %}
         <tr>
             {% for key, value in comment.items()  %}
             {% if key == 'question_id' or key == 'answer_id' or key == 'user_id' %}
                 {{ continue }}
                 {% elif key == 'message' %}
                    {% if comment['question_id'] == None %}
                        {% for answer in answers %}
                        {% if answer['id'] == comment['answer_id'] %}
                            <td>
                            <a href="/questions/{{ answer['question_id'] }}">{{ value }}</a>
                            </td>
                        {% endif %}
                        {% endfor %}
                        {% elif comment['answer_id'] == None %}
                            <td>
                            <a href="/questions/{{ comment['question_id'] }}">{{ value }}</a>
                            </td>
                    {% endif %}
                 {% else %}
                 <td>{{ value }}</td>
                 {% endif %}
             {% endfor %}
         </tr>
{% endfor %}


              </table>
    <button  class="button button1" onclick="location.href='/list'" type="button">
         Back to the list</button><br>
{% endblock body %}