{% extends 'Layout/layout.html' %}

{% block head %}
    <title>New Comment</title>

{% endblock head %}

{% block body %}
    <h1> New comment </h1>
<form action="{{url_for('add_comment_to_question', question_id=id)}}" method="post" enctype="multipart/form-data">
    <!--<label for="question">Question:</label> -->
    <textarea rows="10" cols="20" name="comment">New comment here
</textarea> <br>
    <button class="button button1" type="submit">Submit</button>
</form>

<button  class="button button1" onclick="location.href='{{url_for('list_answers', id=id)}}'" type="button">
         Back to the list</button><br>
{% endblock body %}