<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" href="https://img.icons8.com/stickers/344/mac-os.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="mystyle.css") }}">
    <meta charset="UTF-8">

    {% block head %}
    {% endblock head %}
</head>
<body>

<h1>BUZZSAWS Q/A</h1>

{% block body %}
{% endblock body %}


</body>
<br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
    <p>Page by: Team Buzzsaws © Buzzsaws Inc. 2022</p>
    <p><a href="mailto:buzzsaws@codecool.com">buzzsaws@codecool.com</a></p>
</footer>
<img src="https://wiki.starbasegame.com/images/1/1d/Starbase_saw_tool.png" alt="buzzsaw machine" width="150">

</html>